.con-calculator {
  width: 40%;
  background-color: #15173D;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.con-calculator .input-text {
  width:100%;
  background-color: #262626;
  height: 50px;
}

.con-calculator .cont-1 {
  width: 70%;
}
.con-calculator .cont-2 {
  width: 30%;
}

.con-calculator .numbers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 30%;
  padding: 20px;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: #262626;
  color: #fff;
  font-size: 24px;
  transition: .45s color ease-in-out, .45s background-color ease-in-out;
  flex-grow: 1;
}

button:hover {
  background-color: #fff;
  color: #262626;
}
.con-calculator .functions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con-calculator .math-operators {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.con-calculator .math-operators button{
  width: 100%;
}

.round-a {
  border-bottom-left-radius: 24px;
}

.round-b {
  border-bottom-right-radius: 24px;
}